header {
    background-color: red;
    color: rgb(128, 74, 141);
    text-align: center;
    font-family: cursive;
    font-size: 50px;
    border: 3px dotted blue;
    font-weight: bold;
    padding-top: 10px;
    height: 60px;
}

.profile {
    text-align: center;
    width: 60%;
    float: left;
    color: rgb(120, 68, 133);
}

.footer{
    background-color: rgb(180, 101, 101);
    color: blueviolet;
    font-size: 20px;
    font-family: cursive;
    border: 3px dotted crimson;
    text-align: center;
}

.blink-color {
    animation-name: blink-color-animation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink-color-animation {
    0%{
        color: rgb(247, 225, 183);
        font-size: 25px;
    } 

    25%{
        color: rgba(107, 133, 157, 0.909);
        font-size: 30px;
    }

    50%{
        color: rgba(0, 255, 255, 0.612);
        font-size: 35px;
    }

    75% {
        color: rgb(36, 51, 83);
        font-size: 30px;
    }

    100% {
        color: rgba(116, 88, 58, 0.545);
        font-size: 25px;
    }
}

.fade-in{
    animation-name: fade-in-animation;
    animation-duration: 6s;
   # animation-iteration-count: infinite;
}

@keyframes fade-in-animation {
    from {
        opacity: 0;
       # width: 0px;
        transform: rotate(-360deg);        
    }

    to {
        opacity: 1;
       # width: 200px;
        transform: rotate(0deg);        
    }
}

.nav-bar{
    width: 100%;
    border:rgb(126, 62, 62) 10px;
    background-color: rgb(70, 135, 135);
    font-family: cursive;
}

.wrapper{
    background-color: antiquewhite;
    width: 80%;
    margin: auto;
}

.sidebar-left{
    background-color: rgb(2, 118, 134);
    float: left;
    width: 20%;
    height: 580px;
    
}

.sidebar-right{
    background-color: crimson;
    float: right;
    width: 20%;
    height: 580px;
}

.row{
    width: 70%;
    margin: auto;
}




































































































































































































































































































































































































































































































































































































































































































































































